In [1]:
import numpy as np
import pandas as pd

data = [120, 125, 128, 122, 126, 124, 600]

df = pd.DataFrame({'House price':data})
df

   House price
0          120
1          125
2          128
3          122
4          126
5          124
6          600

In [2]:
df['House price'].mean()

np.float64(192.14285714285714)

In [3]:
df['House price'].median()

125.0

In [8]:
df['City'] = ['Dhaka', 'Dhaka', 'Chattogram', 'Sylhet', 'Dhaka', 'Rajshahi', 'Chattogram']
df['City'].mode()

0    Dhaka
Name: City, dtype: object

In [11]:
from sklearn.impute import SimpleImputer
impute_mean = SimpleImputer(strategy='mean')
impute_median = SimpleImputer(strategy='median')
impute_mode = SimpleImputer(strategy='most_frequent')

In [17]:
data = [10, 12, 13, 15, 18,14]
df = pd.DataFrame({'price':data})
print("Variance:", np.var(df['price']))
print("Standard Deviation:", np.std(df['price']))

Variance: 6.222222222222221
Standard Deviation: 2.494438257849294

In [19]:
data = [120, 130, 125, 140, 135, 200, 220]
df = pd.DataFrame({'Purchase': data})

print('mean',df['Purchase'].mean())

pop_var = np.var(df['Purchase'],ddof=0)
samp_var = np.var(df['Purchase'],ddof=1)
pop_std = np.std(df['Purchase'],ddof=0)
samp_std = np.std(df['Purchase'],ddof=1)


print('pop_var:',pop_var)
print('samp_var:',samp_var)
print('pop_std:',samp_var)
print('samp_std:',samp_std)

mean 152.85714285714286
pop_var: 1370.4081632653058
samp_var: 1598.8095238095236
pop_std: 1598.8095238095236
samp_std: 39.98511627855449

In [20]:
data = [10, 12, 13, 15, 18, 21, 23, 25, 28, 30, 34, 35, 37, 40]

print('Q1: ',np.percentile(data, 25))
print('Q2: ',np.percentile(data, 50))
print('Q3: ',np.percentile(data, 75))

Q1:  15.75
Q2:  24.0
Q3:  33.0

In [21]:
Q1 = np.percentile(data, 25)
Q3 = np.percentile(data, 75)

IQR = Q3 - Q1

lower_bound = Q1-(1.5*IQR)
uper_bound = Q3+(1.5*IQR)

print('IQR: ',IQR)
print('Quantile range: ',lower_bound ,'to', uper_bound)

IQR:  17.25
Quantile range:  -10.125 to 58.875

In [26]:
men = np.mean(data)
std = np.std(data)

z_score = [(x-men)/ std for x in data]
print('Z_score: ',np.round(z_score,2))

Z_score:  [-1.5  -1.29 -1.19 -0.98 -0.66 -0.35 -0.14  0.07  0.38  0.59  1.01  1.11
  1.32  1.63]

In [33]:
df = pd.DataFrame({'Income': [22, 25, 27, 29, 35, 40, 42, 100, 110, 115]})
std = np.std(df['Income'])
var = np.var(df['Income'])
mean = df['Income'].mean()

Q1 = df['Income'].quantile(.25)
Q3 = df['Income'].quantile(.75)

IQR = Q3-Q1

lower = Q1 - (1.5*IQR)
uper = Q3 + (1.5*IQR)

outliers_iqr = df[(df['Income']<lower) | (df['Income']>uper)]
print("Outliers iqr: ",outliers_iqr)

df['z_score'] = (df['Income'] - mean)/std
outliers_z = df[np.abs(df['z_score']>2.5)]
print('outliers z',outliers_z)


median = df['Income'].median()
mad = np.median(np.abs(df['Income']-median))
df['mod_z'] = (df['Income']-median)/mad
outliers_mz = df[np.abs(df['mod_z']>3.5)]
outliers_mz

Outliers iqr:  Empty DataFrame
Columns: [Income]
Index: []
outliers z Empty DataFrame
Columns: [Income, z_score]
Index: []

   Income   z_score     mod_z
7     100  1.267291  5.434783
8     110  1.545817  6.304348
9     115  1.685080  6.739130

In [34]:
df

   Income   z_score     mod_z
0      22 -0.905208 -1.347826
1      25 -0.821651 -1.086957
2      27 -0.765945 -0.913043
3      29 -0.710240 -0.739130
4      35 -0.543125 -0.217391
5      40 -0.403862  0.217391
6      42 -0.348157  0.391304
7     100  1.267291  5.434783
8     110  1.545817  6.304348
9     115  1.685080  6.739130